body{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-image: url('./images/pasta1.jpeg');
    grid-template-columns: 150px 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    border:5px whitesmoke dotted; 
}


#wrapper {width:80%;
margin-left: auto;
margin-right: auto;
background-color: white;
display: grid;
grid-template-rows: auto auto;}

header{background-color: #CCCCFF;
grid-column: span 2;}

nav{
width: 775px;
height: 375px;
padding: 10px;
background-color: lightblue;}

main { 
width: 700px;
height: 375px;
padding:10px;
background-color: lightgreen;}

footer { margin-left: 130px; }

p{
    margin-left: 0em;
    color:black;
}

text{display: inline;}

li{
    color:black;
}

h1{
    margin: 0;
    padding:10px;
    background-color: pink;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

h2{
color:rgb(255, 102, 0);
}

h3{
    background-color: black;
    color:white;
    font-style: italic;
    margin: 0; 
}

ul{
    text-indent: 0em;
}

ol{
    font-size: 15px;
}

a {
    color: red;
    text-decoration: underline;
}
a:hover {
    color: yellow;
    text-decoration: green wavy underline;
}

